# DAP-Link / CMSIS-DAP
adapter driver cmsis-dap

transport select swd

adapter speed 10000

# STM32H723 Flash :1MB
set FLASH_SIZE 0x100000

source [find target/stm32h7x.cfg]

# cmsis_dap_vid_pid 0xfaed 0x4873
